*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'helvetica neue';
}
html,
body,#root{
height: 100%;
width:100%;
}

html{
  background: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: #fff;
}

.note{
  background: #494949;
  padding: 1rem ;
  border-radius: 0.7rem;
  max-width: 20rem;
}
.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
}